{% load navbar_tags wagtailimages_tags wagtailcore_tags %}

{% wagtail_site as current_site %}
{% get_navbar_pages as navbar_pages %}


<nav class="flex p-2  justify-between items-center bg-[#060A13] flex-wrap"> 

    <a href="/">
        <div class="flex items-center">
            {% image settings.site_settings.BrandSettings.logo max-64x64 %}
            <h2 class="font-bold text-2xl text-purple-600">
                {{ current_site.site_name }}
            </h2>
        </div>
    </a>

    
    <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <ul class="md:flex items-center justify-between text-base text-white pt-4 md:pt-0">

            {% for navbar_page in navbar_pages %}

                <li>
                    <a class="md:p-4 py-3 px-0 block font-bold" href="{{ navbar_page.url }}">{{ navbar_page.title }}</a>
                </li>

            {% endfor %}

        </ul>
    </div>

    
</nav>